<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrito de Compras</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Domine&family=Macondo&family=Roboto:wght@100;400&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anton&family=Domine&family=Macondo&family=Roboto:wght@100;400&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/2da8e91210.js" crossorigin="anonymous"></script>
    <link href="css/styles-productCart.css" rel="stylesheet">
</head>
<body>
    <header> 
        <img class="logo" src="/images/MEGATEC (2).png"> </img> 
        <div class="Buscador">
        <div class="input">Buscar productos..<i class="lupa"><i class="fa fa-search"></i></i></i></div> 
        <div class="iconos">
            <i class="start"><i class="fa-solid fa-star"></i></i>
            <i class="user"><i class="fa-solid fa-user-plus"></i></i>
            <i class="car"><i class="fa-solid fa-cart-plus"></i></i>
            <i class="lupa2"><i class="fa fa-search"></i></i>
        </div>
        </div>
        <ul class="sin-viñetas">
            <li><a href="#">Productos</i></a></li>
            <li><a href="#">Historial</i></a></li>
            <li><a href="#">Ofertas</i></a></li>
            <li><a href="#">Asesor</i></a></li>
            <li><a href="#">Centro de Ayuda</i></a></li>
        </ul>
        <div class="burger-menu"> <i class="fas fa-bars"></i>

        </div>
    </header>
    <main>
    <div class="mi-usuario" ><i class="fa-solid fa-user-check"></i> Mi Usuario</div>
    <section>
        <article class="producto-compra">
            <img width="30%" src="images/AMD RYZEN 3 3200G.jpg" alt="IMAGEN AMD RYZEN 3"> </img>
            <div class="Detalle-Compra">
            <a href="#" class="Detalle"><h2> Detalle de la compra</h2></a>
            <h3> AMD RYZEN 3 3200G</h3>
            <div class="descripcion">Con Gráficos Radeon™ Vega 8</div>
            </div>
            <div class="mas-productos"><i class="fa-solid fa-minus"></i> 1 <i class="fa-solid fa-plus"></i> </i></div>
            <div class="precio"> $630,000 COP*</div>
            <div class="eliminar"><i class="fa-solid fa-x"></i></div>
        </article>
        <article class="producto-compra">
            <img width="30%" src="images/INTEL Ci5 10th.jpg" alt="IMAGEN INTEL CORE i5"> </img>
            <div class="Detalle-Compra">
            <a href="#" class="Detalle"><h2> Detalle de la compra</h2></a>
            <h3> Intel CORE i5 10th</h3>
            <div class="descripcion">Con Gráficos UHD Intel® Core™</div>
            </div>
            <div class="mas-productos"><i class="fa-solid fa-minus"></i> 1 <i class="fa-solid fa-plus"></i>  </i></div>
            <div class="precio"> $790,000 COP*</div>
            <div class="eliminar"><i class="fa-solid fa-x"></i></div>
        </article>
        <article class="Resumen"> 
        <div class="Resumen-de-tu-compra"> <h3>Resumen de tú compra</h3> </div> 
        <div><h4> Cantidad</h4><div> 2 un.</div> </div>
        <div><h4> Subtotal</h4><div>$1.420,000 COP* </div></div>
        <div class="envio"><h4>Despacho a domicilio</h4><div> $20.500 COP*</div></div>
        <div><h3>TOTAL</h3> $1.440.500 COP*</div>
        <div class="pagar"> Ir a Pagar</div>
        </article>
        
    </section>
    </main>
    <footer>
        <br>
        <div class="facebook"><i class="fa-brands fa-facebook"></i> </div>
        <div class="instagram"><i class="fa-brands fa-instagram"></i></div>
        <div class="youtube"><i class="fa-brands fa-youtube"></i></div>
        <li class="link-footer"><a href="#">Quiénes Somos</i></a></li>
        <li class="link-footer"><a href="#">Términos y Condiciones</i></a></li>
        <li class="link-footer"><a href="#">Garantía y devoluciones</i></a></li>
        <div  class="comentario"><i class="fa-solid fa-comment-dots"></i></div>
        <strong>Copyright © 2022-2023 MegaTec S.A</strong>
    </footer>
</body>
</html>