*{
    margin: 0 auto;
    padding: 0px;
    box-sizing: border-box;
}

h1 {
    display: flex;
    align-items: center;
    color: white;
    align-content: center;
    
}
 .Formulario{
    background-color: #ebebeb;
   
} 
.Formulario-de-edicion{
width: 50%;
/* background-color: white; */
padding: 1em;
   
}
p{
    padding-top: 15px;
    color: #1C2833;
    font-weight: bold;

}
input[type="text"],[type="number"] {
    text-align: center;
    background-color: white;
    width: 600px;
    padding: 8px;
    font-size: 18px;
    border: none;
    border-bottom: 2px solid gray;

}
input[type="file"] {
padding-bottom: 15px;
padding-top: 15px;
}
legend {
    font-weight: bold;
    font-size: 20px;
}
input{
    background-color: #ebebeb;
}

.botones{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
}


fieldset {
    display: flex;
    border: solid 1px gainsboro;
    justify-content: center;
    box-shadow: 0px 0px 1px rgb(202, 199, 199);
    
}
form {
    width: 50%;
    border: 5px;
}

.checkbox {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    
}

input[type="radio"] {
    margin: 0;
    margin-bottom: 10px;
}

.checkbox label {
    margin: 0;
    padding-bottom: 5px;
}

.imagenP {
    font-size: 20px;
    align-items: flex-start;
    margin: 0;
    padding-bottom: 20px;
}

textarea {
    margin: 5;
    padding-bottom: 0px;
    height: 72px;
    width: 600px;
    background-color: rgba(147, 180, 217, 0.612);
}

/* body {
    background-color: rgb(0, 0, 96)
} */


.enviar {
    display: inline-block;
}

.reset {
    display: inline-block;
    margin: 10px;
}
