*{
    margin: 0 auto;
    padding: 0px;
    box-sizing: border-box;
}

h1 {
    display: flex;
    align-items: center;
    color: white;
    align-content: center;
    
}
 .Formulario{
    background-color: #ebebeb;
   
} 
.Formulario-de-edicion{
width: 50%;
background-color: #D4E6F1; 
padding: 1em;
margin-top: 25px;
margin-bottom: 25px;
   
}
p{
    padding-top: 15px;
    color: #1C2833;
    font-weight: bold;

}
input[type="text"],[type="number"] {
    text-align: center;
    background-color: white;
    width: 600px;
    padding: 8px;
    font-size: 18px;
    border: none;
    border-bottom: 2px solid gray;
}

input[type="file"] {
padding-bottom: 15px;
padding-top: 15px;
background-color: white;
margin:auto;
width: 600px;
text-align: center;
}
legend {
    font-weight: bold;
    font-size: 20px;
}
input{
    background-color: #ebebeb;
}

.botones{
    display: flex;
    align-content: center;
    justify-content: space-evenly;
    padding: 10px;
}


fieldset {
    display: flex;
    border: solid 1px gainsboro;
    justify-content: center;
    box-shadow: 0px 0px 1px rgb(202, 199, 199);
    
}
form {
    width: 50%;
    border: 5px;
}

.checkbox {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    
}

input[type="radio"] {
    margin: 0;
    margin-bottom: 10px;
}

.checkbox label {
    margin: 0;
    padding-bottom: 5px;
}

.imagenP {
    font-size: 20px;
    align-items: flex-start;
    margin: 0;
    padding-bottom: 20px;
}

textarea {
    margin: 5;
    padding-bottom: 0px;
    height: 72px;
    width: 600px;
    background-color: rgba(147, 180, 217, 0.612);
}

 body {
    background-color:#ebebeb
} 

input[type="reset"], input[type="submit"]{
    background-color: #3483fa ;
    padding: 10px;
    color: white;
    font-size: 15px;
    padding: 10px;
    font-weight: bold;
}

.enviar, .reset {
margin: 0%;
}