*{
    padding: 0px;
    box-sizing: border-box;
}

html {
    background-image: url('../img/backgound.png'); 
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.bar-top
{
    display: block;
    text-align: center;
    margin: 12px 12px;
    font-size: 16px;
    padding: 8px;
}

body{
    margin: 0%;
}
.fa-thin {
    color: white;
    padding: 6px;
    border-radius: 4px;
    margin: 0%;
    font-size: 1.5em;
    width: 100%;
    
}
.error{
    color: white;
    display: block;
}


body h1 {
    color: white;
    padding: 10px;
    text-align: center;
}


main  {
    display: flex;
    text-align: center;
    margin: 12px 12px;
    font-size: 16px;
    padding: 8px;
}

.create-form
{
    align-content: stretch;
    border: 1px solid blue;
    border-radius: 2%;
    width: 30%;
    text-align: center;
    margin: 0 auto;
    margin-top: 30px;
    background-image: linear-gradient(to right, #0860b3 0%, #0066ff 100%); 
    padding: 20px 50px;
}

.control-article
{
    display: block;
}

.control-form
{
    display: block;
    padding: 12px 12px;
    font-size: 18px;
}

.control-form i {
    margin: 3px;
    padding: 5px;
}

.control-form input {
    padding: 10px 10px;
    width: 100%;
    /* border: solid 1px black; */
}

.control-form label
{
    color: white;
    display: block;
    margin: 5px 5px;
    font-size: 16px;
}

.control-form-recordar
{
    color: white;
    display: block;
    margin: 5px 5px;
    font-size: 16px;
}

.control-form nav a
{
    color: white;
    display: block;
    margin: 5px 5px;
    font-size: 16px;
}

.control-article button
{
 margin: 5px;
 padding: 10px;
 font-size: 16px;
 width: 100%;
 background-color: #0066ff;
 color: white;
}
.sin-vinetas{
    display: none;
}
.invalid{
    border: solid 3px #8b0000;
    box-shadow: #8b0000 0, 0, 10px;
    
}


footer{
    margin-top: 130px;
}

@media (max-width:360px) {
    .control-form label{
        display: none;
    }
    .create-form
    {
        min-width: 350px;
    }
    *{
        box-shadow : 0px 0px 10px rgb ( 100 , 100 , 100 );
    }
}

@media (min-width:360px) {
    .control-form label{
        display: none;
    }
    .create-form
    {
        width: 100%;
    }
    *{
        box-shadow : 0px 0px 10px rgb ( 100 , 100 , 100 );
    }
}

@media (min-width:768px) {
    main,
    .control-article
    {
        max-width: 768px;
        text-align: center;
        margin: auto;
    }
    .control-form label{
        display: block;
    }
    .create-form
    {
        width: 100%;
    }
    *{
        box-shadow : 0px 0px 10px rgb ( 100 , 100 , 100 );
    }
}

@media (min-width:1200px) {
    *{
        box-shadow : 0px 0px 10px rgb ( 100 , 100 , 100 );
    }
}