* {
    box-sizing: border-box;
    
}

 .invalid{
    border: solid, red, 2px;
    display: block;
}

.conteiner{
    display: flex;
    justify-content:center;
    align-items:center;
    /* background-color: #EAEBEC; */
    background-image: url('../img/backgound.png'); 
    background-repeat: no-repeat;
    background-size: 100% auto;
    
}
.myForm {
    display: flex;
    /* background-color: white; */
    border-radius: 3px;
    padding: 1.8em;
}

.error{
    color: #8b0000;
    display: block;
}

.contact {
    margin-top: 10px;
    color: white;
    flex: 1;
    order: 1;
    margin-right: 2em;
    justify-content: center;
    background-image: linear-gradient(to right, #0860b3 0%, #0066ff 100%); 
    padding: 80px;
    padding-top: 30px;
    padding-bottom: 30px;
    border: 1px solid blue;
    border-radius: 2%;
    
}

.contact input {
    width: 100%;
}
.contact label {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
}
.contact input,
.contact button {
    padding: 1em;
    margin-bottom: 1em;    
    border-radius: 10px;
}

.contact button {
    background: #A0A0A2;
    color: white;
    border: 0;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}



@media (min-width:360px) {
    * {
        box-shadow: 0px 0px 10px rgb (100, 100, 100);
    }
}

@media (min-width:768px) {
    * {
        box-shadow: 0px 0px 10px rgb (100, 100, 100);
    }
}

@media (max-width:1200px) {
    * {
        box-shadow: 0px 0px 10px rgb (100, 100, 100);
    }
}