*{
    margin: 0 auto;
    padding: 0px;
    box-sizing: border-box;
}
.link-del-logo{
    width:35%
}
main{
    background-color: #ebebeb;
    width: 100%;
    display: flex;
    font-family:'Anton', sans-serif;
    flex-direction: column;
}
.mi-usuario{
    padding: 30px;
    font-size: 23px;
    margin: 0px;
}
.Detalle-Compra{
background-color: white;
}

.mas-productos{
    padding: 10px;
    width: 20%;
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    align-items: center;
    background-color: white;
}
.mas-productos i{
    padding: 10px;
}
.precio{
    color: crimson;
    font-size: 15px;
    padding-left: 5px;
}
.Detalle{
    color: black;
}
.producto-compra{
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    align-items: center;
    width: 100%;
    border: #ebebeb solid 1px;
}
section{
    background-color: white;
    width: 90%;
}
.Detalle, .descripcion{
    display: none;
}

.eliminar{
    padding-right: 15px;
    font-size: 1.5em;
}
.Resumen{
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 20px;
    font-size: 12px;
    align-items: center;
    border: #a9a9a9 solid 1px;
    margin-bottom: 30px;
    margin-top: 30px;
}
.Resumen-de-tu-compra{
    width: 100%;
    padding: 20px;
}
.pagar{
    padding: 10px;
    background-color: #2ECC71;
    box-shadow: 0px 0px 5px rgb(96, 93, 93);

}

footer {
    font-family:'Anton', sans-serif;
    display: flex;
    text-align: center;
    background-image: url(/images/Fondo.jpeg);
    color: white;
    text-decoration: none;
    font-size: 20px;
    background-repeat: no-repeat;
    background-size: 100% auto;
    flex-wrap: wrap;
    align-content: space-around;
    padding: 50px;
}
.youtube,.facebook,.instagram,.comentario{
    font-size: 2em;
    padding-left: 20px;
}
.comentario{
    margin-left: 120px;
}
strong{
    display: flex;
    flex-direction: column;
    width: 100%;
}
footer li a{
    color: white; 
    text-decoration: none;
}
.link-footer{
    display: none;
    padding-left: 15px;
    padding-top: 10px;
}

@media (min-width: 500px ) {
    .input{
        display: block;
    }
    .burger-menu{
        display: none;
    }
    header ul li a{
        display: block;
    
    }
    
    .lupa2{
        display: none;
    }
    .sin-viñetas{
        display: block;
        display: flex
    }
    section{
        display: flex;
        flex-wrap: wrap;
    }
    .Detalle, .descripcion{
        display: block;
    }
    .precio{
        font-size: 20px;
    }
    .Resumen{
        font-size: 20px;
    }
    .mas-productos{
    border: 1px solid #4B4B4B;
    }
    }

    @media (min-width: 1000px) {
    .link-footer{
        display: block;
    }
    }