* {
    margin: 0 auto;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Oxygen', sans-serif;;
}

header {
    font-family: 'Anton', sans-serif;
    font-size: 18px;
    /* background-image: url(/images/Fondo.jpeg); */
    background:  #161D25;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    background-repeat: no-repeat;
    background-size: 100% auto;
}

.Buscador {
    display: flex;
    align-items: center;
    width: 60%;
    margin: 5px 15px;
}

.input {
    background-color: white;
    border: white solid 1px;
    padding: 10px;
    color: #a9a9a9;
    box-shadow: 0px 0px 10px rgb(16, 16, 16);
    width: 80%;
    display: none;
}

.iconos {
    display: flex;
    justify-content: space-around;
    padding-right: 20px;
    width: 60%;
}

.lupa2 {
    display: block;
}

.car,
.start,
.user,
.lupa2 {
    color: #72DA38;
    font-size: 1.5em;
    padding-left: 10px;

}

.logo {
    padding: 10px;
    width: 100%;
    margin: 10px;
    box-shadow: 0px 0px 10px rgb(16, 16, 16);
}

.sin-viñetas {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    padding: 10px;
    width: 100%;
    justify-content: space-between;
    text-align: center;
    background-color: #ebebeb;
    display: none;
    box-shadow: 0px 0px 1px rgb(16, 16, 16);
}

header ul li a {
    display: flex;
    color: black;
    text-decoration: none;
    font-size: 18px;
    display: none;

}


.fas {
    color: white;
    padding: 6px;
    border-radius: 4px;
    margin: 0%;
    width: 100%;
}

.burger-menu {
    display: flex;
    text-align: center;
    display: block;
    margin: auto;
    font-size: 20px;
}

footer {
    font-family:'Anton', sans-serif;
    display: flex;
    text-align: center;
    background-image: url(/images/Fondo.jpeg);
    color: white;
    text-decoration: none;
    font-size: 20px;
    background-repeat: no-repeat;
    background-size: 100% auto;
    flex-wrap: wrap;
    align-content: space-around;
    padding: 50px;
}
.youtube,.facebook,.instagram,.comentario{
    font-size: 2em;
    padding-left: 20px;
}
.comentario{
    margin-left: 120px;
}
strong{
    display: flex;
    flex-direction: column;
    width: 100%;
}
footer li a{
    color: white; 
    text-decoration: none;
}
.link-footer{
    display: none;
    padding-left: 15px;
    padding-top: 10px;
}

.button-save {
    margin: 5px 5px;
    padding: 10px 10px;
    font-size: 16px;
    background-color: #0066ff;
    color: white;
    border-radius: 15px;
    border: solid 1px black;
}

.button-delete{
    margin: 5px 5px;
    padding: 10px 10px;
    font-size: 16px;
    background-color: #ff0000;
    color: white;
    border-radius: 15px;
    border: solid 1px black;
}

.button-edit{
    margin: 5px 5px;
    padding: 10px 10px;
    font-size: 16px;
    background-color: #047741;
    color: white;
    border-radius: 15px;
    border: solid 1px black;
}

.button-reset {
    margin: 5px 5px;
    padding: 10px 10px;
    font-size: 16px;
    background-color: #a9a9a9;
    border-radius: 15px;
    border: solid 1px black;
}
.link-del-logo{
    margin: 0%;
    width: 35%;
}

@media (min-width: 500px) {
    .input {
        display: block;
    }

    .burger-menu {
        display: none;
    }

    header ul li a {
        display: block;

    }

    .logo {
        width: 80%;
    }

    .lupa2 {
        display: none;
    }

    .sin-viñetas {
        display: block;
        display: flex
    }
}
@media (min-width: 1000px) {
    .link-footer{
        display: block;
    }
    }