*{
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
}

form{
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 3px;
    padding: 1em;
}

.control-article{
    display: flex;
    justify-content: center;
}

.control-form-colum
{ 
    display: flex; 
    flex-direction: column;
    padding: 1em;
    margin: 5px;
    padding: 5px;
}

.control-form label
{
    color: black;
    display: block;
    margin: 5px 5px;
    font-size: 16px;
}

.control-form input {
    padding: 10px 10px;
    width: 100%;
    border: solid 1px black;
}

.control-button
{
    display: flex;
    justify-content: center;
}
.control-button button{
    margin: 5px 5px;
    padding: 10px 10px;
    font-size: 16px;
    
}

textarea{
    resize: none;    
}


@media (min-width:360px) {
    .control-article{
        display: block;
        justify-content: center;
    }
    *{
        box-shadow : 0px 0px 10px rgb ( 100 , 100 , 100 );
    }
}
@media (min-width:768px) {
    .control-article{
        display: flex;
        justify-content: center;
    }
    *{
        box-shadow : 0px 0px 10px rgb ( 100 , 100 , 100 );
    }
}

@media (max-width:1200px) {
    .control-article{
        display: flex;
        justify-content: center;
        max-width: 1100px;
    }
    *{
        box-shadow : 0px 0px 10px rgb ( 100 , 100 , 100 );
    }
}