<!DOCTYPE html>
<html lang="en">
<head>
<link href="/css/styles-notFound.css" rel="stylesheet">
<%- include('./partials/head')%>
</head>
    <body>
        <%- include('./partials/header')%>
            <div class="separador"></div>
             <main>
                <img class="Banner" src="images/404.jpg" alt="" >
            </main>
            <%- include('./partials/footer')%>
    </body>

</html>