<html lang="en">
<head>
    <%- include('../partials/head') %>
    <link rel="stylesheet" href="/css/styles-create-product.css">
</head>
<body>
    <%- include('../partials/header') %>       
    <main class="Formulario">
        <form accion="/product/create" enctype="multipart/form-data" method="POST"  class="Formulario-de-edicion" x>
                <h1><p>CARGA-EDICIÓN DE PRODUCTOS</p></h1>
            <fieldset>
                <legend>Id del Producto</legend>
                <p><input type="text" name="id" id="id" placeholder="Ejm: 15, 16.." ></p>
            </fieldset>
            <fieldset>
                <legend>Nombre del Producto</legend>
                <p><input type="text" name="name" id="name" placeholder="Procesador Intel Core i5"></p>
            </fieldset>
            <fieldset>
                <legend>Descripción</legend>
                <p><input type="text" name=" description" id=" description" placeholder="Este procesador ofrece más espacio en caché y la arquitectura ...." ></p>
            </fieldset>
            <fieldset>
                <legend>Precio</legend>
                <input type="number" name="price" id="price" placeholder="1499000" >
            </fieldset>
            <fieldset>
                <legend>Descuento</legend>
                <input type="number" name="discount" id="discount" placeholder="10" >
            </fieldset>
            <fieldset>
                <legend>Categoría</legend>
                <input type="text" name="category" id="category" placeholder=in-offer/new-product>
                </fieldset>
            <fieldset>
                 <legend>Imagen del Producto</legend>
                <input type="file" name="image" id="image">
            </fieldset>
            <div class="botones">
                <div class="reset"><input type="reset"></div>
                <div class="enviar"><input type="submit"></div>
            </div>
        </form>
    </main>
    <%- include('../partials/footer')%>
</body>
</html>