<html lang="en">
<head>
    <%- include('../partials/head') %>
    <link rel="stylesheet" href="/css/styles-formularioProducto.css">
</head>
<body>
    <%- include('../partials/header') %>       
    <main class="Formulario">
        <form method="post" accion="/product/products"  class="Formulario-de-edicion">
                <h1><p>CARGA-EDICIÓN DE PRODUCTOS</p></h1>
            <fieldset>
                <legend>Id del Producto</legend>
                <p><input type="text" name="id" id="id" ></p>
            </fieldset>
            <fieldset>
                <legend>Nombre del Producto</legend>
                <p><input type="text" name="name" id="name" ></p>
            </fieldset>
            <fieldset>
                <legend>Descripción</legend>
                <p><input type="text" name=" description" id=" description" ></p>
            </fieldset>
            <fieldset>
                <legend>Precio</legend>
                <input type="number" name="price" id="price" >
            </fieldset>
            <fieldset>
                <legend>Descuento</legend>
                <input type="number" name="discount" id="discount" >
            </fieldset>
            <fieldset>
                <legend>Categoría</legend>
                <input type="text" name="category" id="category" >
                </fieldset>
            <fieldset>
                 <legend>Imagen del Producto</legend>
                <input type="file" name="image" accept=".jpg" multiple>
            </fieldset>
            <div class="botones">
                <div class="reset"><input type="reset"></div>
                <div class="enviar"><input type="submit"></div>
            </div>
        </form>
    </main>
    <%- include('../partials/footer')%>
</body>
</html>