<!DOCTYPE html>
<html lang="en">
    <head>
    <%- include('../partials/head') %>
    <link href="/css/styles-productCart.css" rel="stylesheet">
    </head>
    <body>
        <%- include('../partials/header') %>
    <main>
    <div class="mi-usuario" ><i class="fa-solid fa-user-check"></i> Mi Usuario</div>
    <section>
        <article class="producto-compra">
            <img width="30%" src="/images/product/AMD-RYZEN-3-3200G.jpg" alt="IMAGEN AMD RYZEN 3"> </img>
            <div class="Detalle-Compra">
            <a href="#" class="Detalle"><h2> Detalle de la compra</h2></a>
            <h3> AMD RYZEN 3 3200G</h3>
            <div class="descripcion">Con Gráficos Radeon™ Vega 8</div>
            </div>
            <div class="mas-productos"><i class="fa-solid fa-minus"></i> 1 <i class="fa-solid fa-plus"></i> </i></div>
            <div class="precio"> $630,000 COP*</div>
            <div class="eliminar"><i class="fa-solid fa-x"></i></div>
        </article>
        <article class="producto-compra">
            <img width="30%" src="/images/product/INTEL-Ci5-10th.jpg" alt="IMAGEN INTEL CORE i5"> </img>
            <div class="Detalle-Compra">
            <a href="#" class="Detalle"><h2> Detalle de la compra</h2></a>
            <h3> Intel CORE i5 10th</h3>
            <div class="descripcion">Con Gráficos UHD Intel® Core™</div>
            </div>
            <div class="mas-productos"><i class="fa-solid fa-minus"></i> 1 <i class="fa-solid fa-plus"></i>  </i></div>
            <div class="precio"> $790,000 COP*</div>
            <div class="eliminar"><i class="fa-solid fa-x"></i></div>
        </article>
        <article class="Resumen"> 
        <div class="Resumen-de-tu-compra"> <h3>Resumen de tú compra</h3> </div> 
        <div><h4> Cantidad</h4><div> 2 un.</div> </div>
        <div><h4> Subtotal</h4><div>$1.420,000 COP* </div></div>
        <div class="envio"><h4>Despacho a domicilio</h4><div> $20.500 COP*</div></div>
        <div><h3>TOTAL</h3> $1.440.500 COP*</div>
        <div class="pagar"> Ir a Pagar</div>
        </article>
        
    </section>
    </main>
    <%- include('../partials/footer')%>
</body>
</html>