<footer>
    <br>
    <div class="facebook"><i class="fa-brands fa-facebook"></i> </div>
    <div class="instagram"><i class="fa-brands fa-instagram"></i></div>
    <div class="youtube"><i class="fa-brands fa-youtube"></i></div>
    <li class="link-footer"><a href="#">Quiénes Somos</i></a></li>
    <li class="link-footer"><a href="#">Términos y Condiciones</i></a></li>
    <li class="link-footer"><a href="#">Garantía y devoluciones</i></a></li>
    <div  class="comentario"><i class="fa-solid fa-comment-dots"></i></div>
    <strong>Copyright © 2022-2023 MegaTec S.A</strong>
</footer>